@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: "Inter", sans-serif;
   width: 100%;
   line-height: 1.5;
   background-color: rgb(233, 233, 233);
   position: relative;
}
h1 {
    font-size: 40px;
    line-height: 64px;
    text-align: center;

}
h2 {
    font-size: 32px;
    line-height: 64px;
    text-align: center;
}
h2.products {
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    padding: 20px;
}
p {
   font-size: 16px;
   margin: 15px 0 20px 0;

}



/* START Button styling */
button {
   display: inline-block;
   width: 100%;
   font-family: "Inter", sans-serif;
   color: rgb(255, 255, 255);
   padding: 10px 20px; 
   border-radius: 5px; 
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   transition: 0.3s;
   background: rgb(140, 30, 30); 
   border: none;
}
button:hover {
   cursor: pointer;
   transition: 0.3s ease;
   background: rgba(100, 0, 0, 1);
}
.submit-button {
   position: absolute; 
   bottom: 20px; 
   left: 50%;
   transform: translateX(-50%);
   display: inline-block;
   width: 95%; 
   font-family: "Inter", sans-serif;
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   transition: 0.3s;
   background: rgb(140, 30, 30);
   border: none;
}
.submit-button:hover {
   transform: scale(1.0) translateX(-50%); 
}
/* END Button styling */



/* START text styling */
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   line-height:200px;
   text-align:center
} 
.text-sections {
   width: 80%;
   margin: 0 auto;
   padding-top: 20px;
}
.box {
   background-color: rgb(239,233,226);
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
   padding: 20px;
   margin: 20px auto;
   max-width: 800px;
   width: 100%;
}
#header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   padding: 20px 50px;
   background-color: rgb(140, 30, 30);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
   margin-bottom: 15px;
}
h2 {
   font-size: 24px;
   font-weight: 700;
   color: white;
   margin: 0;
}
/* END text styling */



/* START logo styling */
.logo-container {
   display: flex;
   align-items: center; 
}
.logo {
   height: 40px; 
   margin-right: 10px; 
}
/* END logo styling */



/* START navbar styling */
#navbar {
   flex-grow: 1; 
   display: flex;
   justify-content: center; 
}
#navbar ul {
   display: flex;
   padding: 0;
   margin: 0;
   list-style: none;
}
#navbar li {
   margin: 0 20px; 
}
#navbar li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: 700;
   transition: 0.3s ease;
}
#navbar li a:hover {
   color: #bbb; 
}
/* END navbar styling */



/* START image styling */
.info-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px 100px 50px auto;
   gap: 30px; 
 }
 .image-container {
   flex: 2; 
   max-width: 500px;
   height: 780px; 
   background-image: url('./assets/piggybank.jpg');
   background-position: center;
   background-repeat: no-repeat; 
   background-size: cover; 
   border-radius: 4px;
   margin-left: 50px;
 }
 /* START image styling */
 


/* START front page quote styling */
.quote-container {
   flex: 1;
   display: flex;
   flex-direction: column; 
   justify-content: flex-start; 
   align-items: flex-start;
   font-weight: bold; 
   color: rgba(0, 0, 0, 0.7);
   text-align: left; 
   height: 100%; 
   position: relative; 
   top: -150px; 
}
 .quote-container p {
   font-size: 64px; 
   font-weight: bold; 
   color: rgba(0, 0, 0, 0.7);
   margin: 5px 0; 
   text-align: left; 
 }
/* END front page quote styling */



 /* START user info display styling */
 .info-container {
   width: 80vw;         
   min-width: 800px;  
   max-width: 800px;    
   min-height: 600px;   
   max-height: 600px; 
   overflow: hidden;    
   position: relative;
   margin: 50px 0px 50px auto;
   background: rgb(239,233,226);
   padding: 20px;
   border-radius: 4px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }
.info-container h1 {
   text-align: center;
   color: black;
}
.info-container label {
   display: block;
   margin: 10px 0 5px;
}
.info-container input {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 3px;
}
 /* END user info display styling */



/* START Footer Styling */
footer {
   display: flex;
   flex-direction: column; 
   align-items: center;
   justify-content: center;
   background-color: rgb(140, 30, 30); 
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
   color: white; 
   text-align: center;
   margin-top: 200px; 
   position: fixed;
   bottom: 0;
   width: 100%; 
   padding: 10px 50px; 
}
footer a {
   color: white;
   text-decoration: none;
   transition: color 0.3s ease;
}
footer a:hover {
   transform: scale(1.1); 
   opacity: 0.8;  
}
footer p {
   margin-top: 10px;
   font-size: 14px; 
}
footer p a {
   margin: 0 8px;  
}
/* END Footer Styling */



/* Login tab buttons styling */
.tab-buttons {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.tab-buttons button {
   background: rgb(119, 86, 86, 0.7); 
   border: 1px solid #ccc;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   width: 50%;
}
.tab-buttons button.active {
   background: rgb(140, 30, 30); 
   color: rgb(255, 255, 255);
   transition: 0.3s ease;
}
.tab-buttons button:not(.active):hover {
   background: rgba(100, 0, 0);
   transition: 0.3s ease;
}
/* End login tab styling */



/* UPDATE makes footer stick to bottom of the page */
html, body {
   height: 100%;
   margin: 0; 
}